@use '@porsche-design-system/components-js/styles' as *;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background: #f2f2f2;
    font-family: $pds-font-family;
    font-size: $pds-font-size-heading-small;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

table {
    border-collapse: collapse;
}

td,th {
    border: $pds-border-width-thin solid;
    border-color: gray;
    padding: 5px;
}